#titulo-app{
    margin: auto;
    width: 100%;
    text-align: center;
}

#titulo{
    font-family: 'Courier New', monospace; 
    margin-bottom: 0px;
    font-weight: lighter;
    color: #232023;
}

#subtitulo{
    font-family: 'Courier New', monospace;
    font-weight: lighter;
    margin-top: 0px;
    color: #41424c;
}

#image-sub-container {
    height:180px;
    width: 90%;
    margin: 0 auto 50px;
    border:10px;
    white-space: nowrap;
    overflow-y:hidden;
}

#titulo-imagem-container{
    text-align: center
}

#titulo-imagem{
    margin-top: 0;
    margin-bottom: 10;
    font-weight: lighter;
    font-family: 'Courier New', monospace;
    color: #41424c;
    /* text-align: left;
    margin-left: 80px; */
}
    
.div-image{
    margin:2px;
    display: inline-block;
    overflow:hidden;
    margin-left:8px;
    vertical-align:middle;
}

.image-workart{
    width: auto; 
    height: 144px;
}